<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SystemNsnotifotion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1106CBB01C9E4E80004BE747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1106CBC91C9E4E80004BE747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1106CBD41C9E4E80004BE747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
